[Desktop Entry]
Encoding=UTF-8
Type=Service
#Icon=icon
ServiceTypes=Rocs/FilePlugin
X-KDE-Library=datfileplugin
X-KDE-PluginInfo-Author=Wagner Reck
X-KDE-PluginInfo-Email=wagner.reck@gmail.com
X-KDE-PluginInfo-Name=DAT File Plugin
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://wiglot.wordpress.com
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=DAT file
Name[da]=DAT-fil
Name[de]=DAT-Datei
Name[el]=Αρχείο DAT
Name[en_GB]=DAT file
Name[es]=Archivo DAT
Name[et]=DAT-fail
Name[hr]=DAT datoteka
Name[nb]=DAT-fil
Name[nds]=DAT-Datei
Name[nl]=DAT-bestand
Name[pt]=Ficheiro DAT
Name[pt_BR]=Arquivo DAT
Name[sv]=DAT-fil
Name[uk]=Файл DAT
Name[x-test]=xxDAT filexx
Name[zh_TW]=DAT 檔
Comment=Read and write DAT files.
Comment[da]=Læs og skriv DAT-filer.
Comment[de]=DAT-Dateien lesen und schreiben.
Comment[el]=Ανάγνωση και εγγραφή αρχείων DAT.
Comment[en_GB]=Read and write DAT files.
Comment[es]=Leer y escribir archivos DAT.
Comment[et]=DAT-failide lugemine ja kirjutamine.
Comment[hr]=Čitaj i piši DAT datoteke.
Comment[nb]=Les og skriv DAT-filer.
Comment[nds]=DAT-Dateien lesen un schrieven
Comment[nl]=Lezen en schrijven van DAT-bestanden.
Comment[pt]=Ler e gravar ficheiros DAT.
Comment[pt_BR]=Ler e gravar arquivos DAT.
Comment[sv]=Läs och skriv DAT-filer.
Comment[uk]=Читання і запис файлів DAT.
Comment[x-test]=xxRead and write DAT files.xx
Comment[zh_TW]=讀寫 DAT 檔。
